body {

  text-align: center;
  font-family: Helvetica, sans-serif;

}

h1 {

  font-size: 70px;
  font-weight: bold;

}

h2 {

  font-size: 32px;
  font-weight: bold;

}

h3 {

  font-size: 23px;
  font-weight: bold;

}

p {

  font-size: 14px;

}

.link {

  text-decoration: underline;

}

#header {

  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");

}

#header h1, h4 {

  color: white;

}

#ny {

  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");

}

#ny h3{

  color: white;

}
